# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/logfile
/data
/log
/frontend/weather/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/frontend/weather/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/frontend/weather/npm-debug.log*
/frontend/weather/yarn-debug.log*
/frontend/weather/yarn-error.log*